<a href="https://colab.research.google.com/github/obi-tech/Data-Science/blob/main/numpytraining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
arr = (6, 7, 8, 9)
print (type(arr))

<class 'tuple'>

In [ ]:
a=np.array(arr)
print (a)

[6 7 8 9]

In [ ]:
print(type(a))

<class 'numpy.ndarray'>

In [ ]:
print(a.shape)

(4,)

#pandas

In [ ]:
import pandas as pd

In [ ]:
months = pd.Series(['January', 'February', 'March'])
print (months)

0     January
1    February
2       March
dtype: object

In [ ]:
#using strings as index
months1 = pd.Series(['January', 'February', 'March'], index=['a', 'b', 'c'])
print(months1)

a     January
b    February
c       March
dtype: object

In [ ]:
#DataFrames
#create df from dict
df_dict={'Country':['Ghana', 'Kenya', 'Nigeria', 'Togo'],
'Capital':['Accra', 'Nairobi', 'Abuja', 'Lome'],
'Population':[10000, 8500, 35000, 12000],
'Age': [60, 70, 80, 75]}
df=pd.DataFrame(df_dict, index = [2, 4, 6, 8])
print(df)

   Country  Capital  Population  Age
2    Ghana    Accra       10000   60
4    Kenya  Nairobi        8500   70
6  Nigeria    Abuja       35000   80
8     Togo     Lome       12000   75

In [ ]:
#create df from list
df_list = [['Ghana', 'Accra', 10000, 60],
['Kenya', 'Nairobi', 8500, 70],
['Nigeria', 'Abuja', 35000, 80],
['Togo', 'Lome', 12000, 75]]

In [ ]:
df1=pd.DataFrame(df_list, columns = ['Country', 'Capital', 'Population', 'Age'], index = [2, 4, 6, 8])
print (df1)

   Country  Capital  Population  Age
2    Ghana    Accra       10000   60
4    Kenya  Nairobi        8500   70
6  Nigeria    Abuja       35000   80
8     Togo     Lome       12000   75

In [ ]:
#select the row with index 3
df.iloc[3]

Country        Togo
Capital        Lome
Population    12000
Age              75
Name: 8, dtype: object

In [ ]:
#select the row with index label 6
df.loc[6]

Country       Nigeria
Capital         Abuja
Population      35000
Age                80
Name: 6, dtype: object

In [ ]:
df['Capital']

2      Accra
4    Nairobi
6      Abuja
8       Lome
Name: Capital, dtype: object

In [ ]:
df.at[6, 'Country']

'Nigeria'

In [ ]:
df.iat[2, 0]

'Nigeria'

In [ ]:
df['Population'].sum()

65500

In [ ]:
df.mean()

Population    16375.00
Age              71.25
dtype: float64

In [ ]:
df.describe()

         Population        Age
count      4.000000   4.000000
mean   16375.000000  71.250000
std    12499.166639   8.539126
min     8500.000000  60.000000
25%     9625.000000  67.500000
50%    11000.000000  72.500000
75%    17750.000000  76.250000
max    35000.000000  80.000000

In [ ]:
df_dict2 = {'Name':['James', 'Yemen', 'Caro', np.nan],
'Profession':['Researcher', 'Artist', 'Doctor', 'Writer'],
'Experience':[12, np.nan, 10, 8],
'Height':[np.nan, 175, 180, 150]}
new_df = pd.DataFrame(df_dict2)
print(new_df)

    Name  Profession  Experience  Height
0  James  Researcher        12.0     NaN
1  Yemen      Artist         NaN   175.0
2   Caro      Doctor        10.0   180.0
3    NaN      Writer         8.0   150.0

In [ ]:
#check for cells with missing values as true
new_df.isnull()

    Name  Profession  Experience  Height
0  False       False       False    True
1  False       False        True   False
2  False       False       False   False
3   True       False       False   False

In [ ]:
#remove rows with missing values
new_df.dropna()

   Name Profession  Experience  Height
2  Caro     Doctor        10.0   180.0

In [ ]:
url='https://github.com/WalePhenomenon/climate_change/blob/master/fuel_ferc1.csv?raw=true'
fuel_data=pd.read_csv(url, error_bad_lines=False)
print(fuel_data)

                     record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]

In [ ]:
url = 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'
fuel_data=pd.read_csv(url, error_bad_lines=False)
print(fuel_data)

                     record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]

In [ ]:
fuel_data.describe(include='all')

                       record_id  ...  fuel_cost_per_mmbtu
count                      29523  ...         29523.000000
unique                     29523  ...                  NaN
top     f1_fuel_2003_12_210_1_14  ...                  NaN
freq                           1  ...                  NaN
mean                         NaN  ...            19.304354
std                          NaN  ...          2091.540939
min                          NaN  ...           -41.501000
25%                          NaN  ...             1.940000
50%                          NaN  ...             4.127000
75%                          NaN  ...             7.745000
max                          NaN  ...        359278.000000

[11 rows x 11 columns]

In [ ]:
#check for missing values
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64